@charset "UTF-8";

/* Define CSS Variables */
:root {
  --border-color: #999;
  --background-color: #fff;
  --text-color: #333;
  --error-color: #c00;
  --error-background-color: #fc6;
  --icon-background-color: #727272;
  --hover-background-color: #727272dd;
  --input-height: 2.5rem;
  --border-radius: 5px;
  --transition-duration: 0.3s;
  --font-family: var(--font-family);
}

/* reset box-sizing */
.wq-input,
.wq-radio,
.wq-radio + label,
.wq-iconx,
.wq-select {
  box-sizing: border-box;
}

/* input element for wenqu */
input[type="text"].wq-input {
  width: 100%;
  height: var(--input-height);
  font-size: 1rem;
  padding-left: 0.4rem;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  font-family: var(--font-family);
}

input[type="text"].wq-input::placeholder {
  background: transparent;
  color: #999;
}
input[type="text"].wq-input.error {
  color: var(--error-color);
  background-color: var(--error-background-color);
  border: 1px solid var(--error-color);
}

input[type="text"].wq-input.error::placeholder {
  color: var(--error-color);
}

/* CSS-only close icon */
.wq-iconx {
  position: relative;
  right: 2rem;
  margin-right: -1.5rem;
  cursor: pointer;
  user-select: none;
  width: 1.5rem;
  height: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: var(--icon-background-color);
  border-radius: 50%;
  opacity: 0.9;
  transition: opacity var(--transition-duration), background-color var(--transition-duration);
}

.wq-iconx:hover {
  opacity: 1;
  background-color: var(--hover-background-color);
}

.wq-iconx::before,
.wq-iconx::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 70%;
  border-radius: 2px;
  background-color: #fff;
  transition: background-color var(--transition-duration);
}

.wq-iconx::before {
  transform: translate(-50%, -50%) rotate(40deg);
}

.wq-iconx::after {
  transform: translate(-50%, -50%) rotate(-40deg);
}

/* iOS 17 fix */
/* .wq-form li:has(> .wq-input) {
  display: flex;
} */

.wq-form .wq-input + .wq-iconx {
  top: 0.5rem !important;
}
.wq-form .wq-input ~ .error-message {
  margin: 0.5rem 0;
}
/* radio button element for wenqu */
input[type="radio"].wq-radio {
  display: none;
}

input[type="radio"].wq-radio + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: var(--input-height);
  text-align: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  line-height: calc(var(--input-height) - 10px);
  border: 1px solid var(--border-color);
}

input[type="radio"].wq-radio + label::before {
  content: '';
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.625rem;
  transform: translateY(0.375rem);
  background-color: var(--background-color);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 1px solid #aaa;
  font-size: 2rem;
  text-align: center;
  line-height: 1.25rem;
  font-family: Arial;
}

input[type="radio"].wq-radio:checked + label {
  background-color: #deccf2;
}

input[type="radio"].wq-radio:checked + label::before {
  content: "•";
}

/* drop-down element for wenqu */
.wq-select {
  position: relative;
  width: 100%;
  height: var(--input-height);
  line-height: var(--input-height);
  padding: 0 0.4rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  color: var(--text-color);
  font-family: var(--font-family);
  appearance: none;
  cursor: pointer;
  background-image: linear-gradient(45deg, transparent 45%, #333 45%),
                    linear-gradient(-45deg, transparent 45%, #333 45%);
  background-position: calc(100% - 15px) calc(65% - 5px), calc(100% - 10px) calc(65% - 5px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
}

.wq-select option.leap-month {
  color: var(--error-color);
}

.wq-select.error {
  color: var(--error-color);
  background-color: var(--error-background-color);
  border: 1px solid var(--error-color);
}
.popup__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.popup {
  width: 370px;
  background-color: #fff;
  border: 1px solid #560891;
  border-radius: 5px;
  box-shadow: 0 0 8px #333;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.popup__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #6f25a7;
}
.popup__content--header {
  padding: 10px;
  font-weight: bold;
}
.popup__close-btn {
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__close-btn::before,
.popup__close-btn::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
}
.popup__close-btn:hover::before,
.popup__close-btn:hover::after {
  background-color: #ffffffea;
}
.popup__close-btn::before {
  transform: rotate(50deg);
}

.popup__close-btn::after {
  transform: rotate(-50deg);
}
.popup__content {
  padding: 0 10px 10px 10px;
}

.popup__item:not(:last-child) {
  margin-bottom: 10px;
  font-size: 1rem;
}

.popup__label {
  font-weight: bold;
}

.popup__value {
  color: #6f25a7;
}
.popup__border-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0.5rem auto;
}
.popup__actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10px 10px 10px;
  column-gap: 0.3rem;
}

.popup__confirm-btn,
.popup__cancel-btn,
.popup__alert-btn {
  width: 50%;
  height: 45px;
  font-size: 1.2rem;
  border: 1px solid #969696;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  box-shadow: inset 0 0 2px #fff;
  background-color: #cfcfcf;
}
.popup__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/* Mobile-responsive styling */
@media only screen and (max-width: 420px) {
  .wqPOP {
    width: 90vw;
  }
}
